.title-center {
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: blue;
}

.dimensions {
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: brown;

}