<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-center">All Posts</ion-title>
  </ion-toolbar>
  <ion-searchbar position="fixed" [(ngModel)]="searchPost" placeholder="Enter to filter" (ionInput)="search()"
    (ionClear)="resetPosts()"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="loadPosts"></ion-spinner>

  <ion-grid *ngIf="!loadPosts">
    <ion-row *ngIf="allposts?.length > 0">
      <ion-col size="12" *ngFor="let item of allposts">
        <ion-item-sliding (ionDrag)="stopEvent($event)">
          <ion-item (click)="viewSingle(item.postId)" class="card-item">
            <!-- Small circular image on the left -->
            <ion-thumbnail slot="start" class="post-img-circle">
              <img [src]="item.postImage" />
            </ion-thumbnail>

            <ion-label>
              <ion-row class="card-label-container">
                <ion-col>
                  <ion-card-title>{{ item.title }}</ion-card-title>
                </ion-col>
              </ion-row>
            </ion-label>

            <ion-icon name="chevron-forward-outline" slot="end" class="right-arrow-icon"></ion-icon>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option>
              <ion-icon name="create-outline" (click)="updatePost(item.postId, $event)"></ion-icon>
            </ion-item-option>

            <ion-item-option color="danger" expandable>
              <ion-icon name="trash-outline" (click)="deleteAlert(item.postId, $event)"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row *ngIf="allposts?.length == 0">
      <ion-col size="12" class="no-items-message" *ngIf="allposts.length==0">
        No posts to display.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>