.title-center {
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: blue;
}

.no-items-message {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-card {
    width: 85%;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    --background: #000;
    --color: #9efff0;
    padding: 0; // Removed padding for a tighter look
}

.post-img {
    width: 100%; // Make the image full width
    height: auto; // Maintain aspect ratio
    border-top-left-radius: 10px; // Match card border radius
    border-top-right-radius: 10px; // Match card border radius
}

.card-header-custom {
    background-color: white; // Set the background to white
    border: 1px solid black; // Set border color to black
    padding: 10px; // Ensure some padding for aesthetics
}

.card-label-container {
    font-size: 26px; // Increase font size for the label
    font-weight: bold; // Make the label bold
    color: black; // Set label color to black for contrast
}

ion-card-title {
    font-size: 22px; // Keep the title size larger than default
    font-weight: normal; // Ensure title is not bolder than the label
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

ion-icon {
    cursor: pointer;
    font-size: 24px; // Icon size
}

ion-searchbar {
    --border-color: black; 
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 8px; 

    .searchbar-clear-icon {
        color: #ff3b30; 
        font-size: 20px; 
    }

    .searchbar-input-container {
        background-color: #1c1c1e; 
        border-radius: 8px; 
        padding-left: 10px; 
    }

    .searchbar-search-icon {
        color: black; 
    }
}