<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="title-center">All Posts</ion-title>
  </ion-toolbar>
  <ion-searchbar position="fixed" [(ngModel)]="searchPost" placeholder="Enter to filter" (ionInput)="search()"
    (ionClear)="resetPosts()"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="loadPosts"></ion-spinner>

  <ion-grid *ngIf="!loadPosts">
    <ion-row *ngIf="allposts?.length > 0">
      <ion-col size="12" *ngFor="let item of allposts">
        <ion-card (click)="viewSingle(item.postId)" color="medium">

          <ion-row class="icon-container">
            <ion-col size="auto">
              <ion-icon name="trash-outline" size="large" color="danger"
                (click)="deleteAlert(item.postId, $event)"></ion-icon></ion-col>
            <ion-col size="auto">
              <ion-icon name="create-outline" size="large" color="danger"
                (click)="updatePost(item.postId, $event)"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-card-header>
            <ion-card-content>

              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="post-img-container">
                    <ion-img [src]=item.postImage class="post-img"></ion-img>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-row>
                <ion-col size="3">
                  <ion-label class="label-custom" color="dark">Title:</ion-label>
                </ion-col>
                <ion-col size="8">
                  <ion-card-title>{{item.title}}</ion-card-title>
                </ion-col>
              </ion-row>

              <!-- Content section with label -->
              <ion-row>
                <ion-col size="12">
                  <ion-label class="label-custom" color="dark">Content:</ion-label>
                  <ion-card-subtitle>{{item.content}}</ion-card-subtitle>
                </ion-col>
              </ion-row>

            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row *ngIf="allposts?.length == 0">
      <ion-col size="12" class="no-items-message" *ngIf="allposts.length==0">
        No posts to display.
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>